.bg_head{
	background-color: rgba(50, 50, 50, 1);
	color: white;
}
.bg_error{
	background-color: rgba(50, 50, 50, 1);
	color: white;
}
.bg_pend{
	background-color: rgba(225, 225, 225, 1);
}
.comm-icon{
	color: rgba(50, 50, 50, 1);
}
.order-icon{
	color: gray;
	cursor: pointer;
}
.order-icon:hover{
	color: red;
}
.d_staff:hover,
.d_stat:hover,
.e_staff:hover,
.e_stat:hover,
.c_staff:hover,
.c_stat:hover,
.q_staff:hover,
.q_stat:hover,
.c_num:hover{
	cursor: pointer;
	color: black;
	text-decoration: underline;
}
#content td:hover,
#ordered td:hover,
#error td:hover{
	background-color: rgba(175, 175, 175, 1);
}
.my_table{
	width: 100%;
	max-width: 100%;
	font-family: Georgia;
	font-size: 1.3rem;
	background-color: transparent;
	color: rgba(75, 75, 75, 1);
}
.my_table thead{
	color: white;
}
.my_table td,
.my_table th{
	text-align: center;
	padding: 0.4rem;
	border: 1px solid rgba(75, 75, 75, 1);
}
.float{
	padding: 7px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1.5px solid rgba(0, 0, 0, 1);
	/*border: 1px solid rgba(0, 0, 0, 1);*/
	box-shadow: 2px 0px 30px 2px rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
}
.my_alert{
	text-align: center;
	padding: 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	height: 75px;
	color: rgba(75, 75, 75, 1);
	text-align: center;
	/*text-shadow:4px 4px 8px blue;*/
	/*border: 1px solid rgba(255, 255, 255, 0.8);*/
	border: 1.5px solid rgba(0, 0, 0, 1);
	box-shadow: 2px 0px 30px 2px rgba(50, 50, 50, 1);
	background-color: rgba(255, 255, 255, 1);
}
.item_active{
	font-weight: bold;
	background-color: rgba(175, 175, 175, 1);
	color: black;
}
.item_count{
	font-size:1.8rem;
	color: rgba(75, 75, 75, 1);
}
.count{
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}
.floatv:hover,
.my_alevrt:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.my_badge{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: rgba(100, 100, 100, 1);
	border-radius: 10px;
	position: relative;
	top: -10px;
	left: 5px;
	border: 1px solid rgba(0, 0, 0, 1);
}
body {
	/*background: url(../images/notebook-with-green-cover_1101-120.jpg) no-repeat center center fixed;*/
	background: linear-gradient(to top left, rgba(50, 50, 50, 1), rgba(200, 200, 200, 1) ) no-repeat center center fixed;
}
.syscom{
	color: rgba(75, 75, 75, 1);
	text-align: center;
	text-shadow:4px 4px 8px rgba(255, 255, 255, 1);
}
.scroll{
	overflow-y:scroll;
	border-bottom: 1px solid gray;
}
.animate{
	-webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
*::-webkit-scrollbar {
    width: 0px;
}