.bg_head{
	background-color: rgba(255, 0, 200, 0.5);
	color: white;
}
.bg_error{
	background-color: rgba(255, 0, 0, 0.5);
	color: white;
}
.bg_pend{
	color: rgba(255, 0, 0, 0.5);
}
.comm-icon{
	color: rgba(255, 0, 200, 0.5)
}
.order-icon{
	color: rgba(255, 0, 200, 0.5);
	cursor: pointer;
}
.order-icon:hover{
	color: red;
}
.d_staff:hover,
.d_stat:hover,
.e_staff:hover,
.e_stat:hover,
.c_staff:hover,
.c_stat:hover,
.q_staff:hover,
.q_stat:hover,
.c_num:hover{
	cursor: pointer;
	color: black;
	text-decoration: underline;
}
#content td:hover,
#ordered td:hover,
#error td:hover{
	box-shadow: 0px 0px 25px 3px rgba(255, 0, 0, 0.75);
	background-color: rgba(255, 0, 0, 0.08);
}
.my_table{
	width: 100%;
	max-width: 100%;
	font-family: Segoe Script, Georgia;
	font-size: 1.2rem;
	background-color: transparent;
	color: black;
}
.my_table thead{
	background-color: rgba(255, 0, 200, 0.5);
	color: white;
}
.my_table td,
.my_table th{
	text-align: center;
	padding: 0.4rem;
	border: 1px solid rgba(255, 0, 200, 0.2);
}
.float{
	padding: 7px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	box-shadow: 2px 0px 30px 2px black;
	background-color: rgba(255, 255, 255, 1);
}
.my_alert{
	font-family: LoveNess,Georgia;
	letter-spacing:2px;
	text-align: center;
	padding: 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
	height: 75px;
	color: black;
	text-align: center;
	text-shadow:4px 4px 8px yellow;
	border: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 2px 0px 30px 2px black;
	background-color: rgba(255, 255, 255, 1);
}
.item_active{
	font-weight: bold;
	box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.75);
	color: black;
	background-color: rgba(225, 255, 0, 1);
}
.item_count{
	font-size:1.8rem;
	color: blue;
}
.count{
	font-weight: bold;
	color: red;
}
.afloat:hover,
.amy_alert:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.my_badge{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: red;
	border-radius: 10px;
	position: relative;
	top: -10px;
	left: 5px;
}
body {
	background: url(../images/seamless-love-and-heart-background-vector-1824966-2.jpg) no-repeat center center fixed;
	/*background: pink no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.syscom{
	color: black;
	text-align: center;
	text-shadow:4px 4px 5px yellow;
	font-family: LoveNess,Georgia;
	font-weight: bold;
	letter-spacing:2px;
}
.scroll{
	overflow-y:scroll;
	border-bottom:  1px solid rgba(255, 0, 200, 0.5);
}
.animate{
	-webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
*::-webkit-scrollbar {
    width: 0px;
}
.bg_heart{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:-2;}

.heart{
	position:absolute;
	top:-30%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-m-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.heart:before{
	position:absolute;
	top:-50%;
	left:0;
	display:block;
	content:"";
	width:100%;
	height:100%;
	background:inherit;
	border-radius:100%;
}
.heart:after{
	position:absolute;
	top:0;
	right:-50%;
	display:block;
	content:"";
	width:100%;
	height:100%;
	background:inherit;
	border-radius:100%;
}
.love_you{
	position:absolute;
	color: red;
	text-shadow:4px 4px 5px pink;
	top:2.5%;
	left: 45%;
	font: bold 45px Segoe Script,Georgia;
	-webkit-animation:love 10.1s ease;
	-moz-animation:love 10.1s ease;
	-ms-animation:love 10.1s ease;
	animation:love 10s ease;
}
@-webkit-keyframes love {
  0%{top:30%}
}
@-moz-keyframes love {
  0%{top:30%}
}
@-ms-keyframes love {
  0%{top:30%}
}
@keyframes love {
  0%{top:10%; left:50%;}
  5%{top:10%;}
  15%{top:110%}
  25%{top:110%;}
}
@keyframes beat {
  0%{height:100px; width:100px;}
}